/* Features list */

.features-list {
  padding: var(--space-1);
  background: rgba(128, 222, 234, 7.75);
  background: linear-gradient(90deg, rgba(128, 222, 234, 0.36) 22%, rgba(255, 151, 191, 0.37) 53%, rgba(103, 147, 160, 0.36) 85%);
  margin: var(--space-6) 0;
  display: flex;
  gap: var(--space-1);
}

.features-list li {
  width: 25%;
  background-color: var(--neutral-0);
  padding: var(--space-4);
  list-style-type: none;
  box-sizing: border-box;
}

.features-list li p {
  margin: 0 0 var(--space-2) 0;
}

.features-list li img {
  width: 100%;
  margin-bottom: var(--space-2);
}