/* ==============================
   General
============================== */

body {
  margin: 0;
  padding-top: 66px;
}

h2 {
  margin-top: 40px;
}

.grid {
  display: flex;
  align-items: top;
  gap: var(--space-6);
}

.grid>div {
  width: 50%;
}

.grid>div img {
  width: 100%;
  margin-top: var(--space-5);
}

ul.grid {
  padding: 0;
  margin: 0;
}

ul.grid>li {
  width: 33%;
  list-style-type: none;
}

ul.grid>li img {
  width: 100%;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

main section {
  padding: var(--space-6) 0;
}

main .card {
  margin-bottom: var(--space-6);
}

.typography h2,
.typography h3 {
  margin-top: 20px;
}

.typography p {
  margin: 25px 0 5px 0;
}

table {
  margin: var(--space-5) 0 var(--space-5) 0;
}

table th {
  font-weight: var(--font-weight-semibold);
  text-align: left;
}

table td {
  padding-right: var(--space-6);
}
