/* Token doc */

.class-doc,
.token-doc {
  font-size: var(--font-size-xs);
  color: var(--neutral-0);
  font-weight: var(--font-weight-semibold);
  margin: 0;
  display: inline-block;
  height: 20px;
  line-height: 18px;
  border-radius: 3px;
  padding: 0 7px;
}

.token-doc {
  background-color: var(--neutral-500);
}

.class-doc {
  background-color: var(--neutral-400);
}
