:root {

  /* ============================== 
    Colors 
   ============================== */

  /* Neutrals */
  --neutral-0: #ffffff;
  --neutral-50: #f8fafc;
  --neutral-100: #f1f5f9;
  --neutral-200: #e2e8f0;
  --neutral-300: #cbd5e1;
  --neutral-400: #94a3b8;
  --neutral-500: #64748b;
  --neutral-600: #475569;
  --neutral-700: #334155;
  --neutral-800: #1e293b;
  --neutral-900: #0f172a;

  /* Brand */
  --brand-300: #93c5fd;
  --brand-500: #3b82f6;
  --brand-700: #1d4ed8;

  /* Feedback */
  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-danger: #ef4444;
}