:root {

  /* ==============================
    Radius & Borders
  ============================== */

  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;

  --border-width: 1px;
  --border-color: var(--neutral-200);

}